<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/carusel.css">
</head>
<body>
    <div class="wrapper">
        <header class="second__header">
            <div class="container">
                <nav class="header__nav">
                    <a class="active" href="catalog.html">Каталог</a>
                    <a href="promo.html">Акции</a>
                    <a href="about.html">О нас</a>
                    <a href="reviews.html">Отзывы</a>
                </nav>
                <a href="index.html" class="logo__header">
                    <h1>arico.</h1>
                </a>
                <a href="profile.html" class="profile__link">
                    <svg width="34.000000" height="34.000000" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                                Created with Pixso.
                        </desc>
                        <defs/>
                        <circle id="Эллипс 3" cx="17.000000" cy="17.000000" r="16.000000" stroke="#000000" stroke-opacity="1.000000" stroke-width="2.000000"/>
                        <ellipse id="Эллипс 4" cx="17.000000" cy="13.500000" rx="7.000000" ry="7.500000" fill="#000000" fill-opacity="1.000000"/>
                        <path id="Эллипс 5" d="M4 25.51C4 23.19 7.8 21.42 11 21.01C12.75 20.78 13.75 23.51 16.5 23.51C19.37 23.51 20.27 20.84 22.5 21.01C26.25 21.29 29.5 23.25 29.5 25.51C28.5 27.01 27.5 28.51 24 30.51C22.09 31.6 20.05 32.51 17 32.51C13.87 32.51 12 31.92 10 31.01C7.04 29.66 4.59 27.59 4 25.51Z" fill="#000000" fill-opacity="1.000000" fill-rule="evenodd"/>
                    </svg>                    
                </a>
            </div>
        </header>
        <main>
            <section class="product__sec" data-product="1">
                <div class="container">
                    <div class="top__bar">
                        <img src="assets/media/temp/product.png" alt="product">
                        <div class="text__content">
                            <h2 class="title__product">ARICO Гидрофильное масло увлажняющее с гиалуроновой кислотой и кокосом Hyaluronic Oil Cleanser</h2>
                            <div class="price__block">
                                <span class="price__product">1 200 ₽</span>
                                <a href="#" class="btn">в корзину</a>
                            </div>
                            <ul class="property__list">
                                <li><p class="title">код продукта</p><p class="value" data-property="code_product">гидроф1</p></li>
                                <li><p class="title">тип продукта</p><p class="value" data-property="type">гидровильное масло</p></li>
                                <li><p class="title">для кого</p><p class="value" data-property="for">для взрослых</p></li>
                                <li><p class="title">пол</p><p class="value" data-property="gender">унисекс</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail__desc">
                        <p>
                            Легкое гидрофильное масло с увлажняющей формулой для комфортного демакияжа и очищения кожи без пересушивания. Масло без особых усилий удаляет макияж и все виды тональных основ, бережно очищает кожу от загрязнений, одновременно увлажняя и наполняя ее жирными кислотами. Натуральная формула обогащена гиалуроновой кислотой и маслом кокоса для поддержания водного баланса в клетках эпидермиса и сохранения целостности гидролипидной мантии кожи. При контакте с водой масло превращается в молочко и легко смывается, предотвращает появление сухости и шелушений, смягчает кожу и оставляет ее увлажненной. Средство обладает приятным ароматом кокоса и не содержит минеральных масел.
                        </p>
                    </div>
                    <div class="type__skin">
                        <ul>
                            <li>
                                <p class="title">Тип кожи</p>
                                <p class="value">Для всех типов кожи</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <nav class="footer__nav">
                    <a href="catalog">Каталог</a>
                    <a href="promo">Акции</a>
                    <a href="about">О нас</a>
                    <a href="reviews">Отзывы</a>
                </nav>
                <div class="contact__block">
                    <h2 class="title__sait">ARICO Магазин косметики</h2>
                    <p class="phone">7 900 466 90 56</p>
                    <p class="email">Aricolove</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="assets/js/main.js"></script>
    <script src="assets/js/carusel.js"></script>
</body>
</html>