<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/carusel.css">
</head>
<body>
    <div class="wrapper">
        <header class="second__header">
            <div class="container">
                <nav class="header__nav">
                    <a href="catalog.html">Каталог</a>
                    <a href="promo.html">Акции</a>
                    <a href="about.html">О нас</a>
                    <a class="active" href="reviews.html">Отзывы</a>
                </nav>
                <a href="index.html" class="logo__header">
                    <h1>arico.</h1>
                </a>
                <a href="profile.html" class="profile__link">
                    <svg width="34.000000" height="34.000000" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                                Created with Pixso.
                        </desc>
                        <defs/>
                        <circle id="Эллипс 3" cx="17.000000" cy="17.000000" r="16.000000" stroke="#000000" stroke-opacity="1.000000" stroke-width="2.000000"/>
                        <ellipse id="Эллипс 4" cx="17.000000" cy="13.500000" rx="7.000000" ry="7.500000" fill="#000000" fill-opacity="1.000000"/>
                        <path id="Эллипс 5" d="M4 25.51C4 23.19 7.8 21.42 11 21.01C12.75 20.78 13.75 23.51 16.5 23.51C19.37 23.51 20.27 20.84 22.5 21.01C26.25 21.29 29.5 23.25 29.5 25.51C28.5 27.01 27.5 28.51 24 30.51C22.09 31.6 20.05 32.51 17 32.51C13.87 32.51 12 31.92 10 31.01C7.04 29.66 4.59 27.59 4 25.51Z" fill="#000000" fill-opacity="1.000000" fill-rule="evenodd"/>
                    </svg>                    
                </a>
            </div>
        </header>
        <main>
            <section class="reviews__sec">
                <div class="container">
                    <h2 class="section__title">Отзывы покупателей</h2>
                    <div class="slider__reviews">
                        <ul class="slider__line">
                            <li class="sliider__item">
                                <div class="review__card">
                                    <img src="assets/media/image/reviews_def.png" alt="reviews_def">
                                    <div class="text__block">
                                        <h2 class="name">Королёва Арина</h2>
                                        <p class="product">Тоник</p>
                                        <p class="desc">Очень понравился, кожа после него гладкая, не слипается</p>
                                    </div>
                                    <div class="rating__block" data-rate="3">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li class="sliider__item">
                                <div class="review__card">
                                    <img src="assets/media/image/reviews_def.png" alt="reviews_def">
                                    <div class="text__block">
                                        <h2 class="name">Королёва Арина</h2>
                                        <p class="product">Тоник</p>
                                        <p class="desc">Очень понравился, кожа после него гладкая, не слипается</p>
                                    </div>
                                    <div class="rating__block" data-rate="3">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li class="sliider__item">
                                <div class="review__card">
                                    <img src="assets/media/image/reviews_def.png" alt="reviews_def">
                                    <div class="text__block">
                                        <h2 class="name">Королёва Арина</h2>
                                        <p class="product">Тоник</p>
                                        <p class="desc">Очень понравился, кожа после него гладкая, не слипается</p>
                                    </div>
                                    <div class="rating__block" data-rate="3">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li class="sliider__item">
                                <div class="review__card">
                                    <img src="assets/media/image/reviews_def.png" alt="reviews_def">
                                    <div class="text__block">
                                        <h2 class="name">Королёва Арина</h2>
                                        <p class="product">Тоник</p>
                                        <p class="desc">Очень понравился, кожа после него гладкая, не слипается</p>
                                    </div>
                                    <div class="rating__block" data-rate="3">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z" fill="#FFB800"/>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="slider__button">
                            <div class="arrow__btn prev"><svg width="40.774414" height="28.440430" viewBox="0 0 40.7744 28.4404" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>
                                        Created with Pixso.
                                </desc>
                                <defs/>
                                <path id="Форма 1" d="M1.38 13.23L36.38 13.23L25.38 2.23C25.05 1.39 24.98 -0.07 27.38 0.73L39.38 12.73C40.05 13.23 40.98 14.53 39.38 15.73L27.38 27.73C24.98 28.53 25.05 26.73 25.38 25.73L36.38 15.73L1.38 15.73C-0.22 14.53 0.72 13.56 1.38 13.23Z" fill="#0C440C" fill-opacity="1.000000" fill-rule="evenodd"/>
                                <path id="Форма 1" d="M36.38 13.23L25.38 2.23C25.05 1.39 24.98 -0.07 27.38 0.73L39.38 12.73C40.05 13.23 40.98 14.53 39.38 15.73L27.38 27.73C24.98 28.53 25.05 26.73 25.38 25.73L36.38 15.73L1.38 15.73C-0.22 14.53 0.72 13.56 1.38 13.23L36.38 13.23Z" stroke="#0C440C" stroke-opacity="1.000000" stroke-width="1.000000"/>
                            </svg></div>
                            <div class="arrow__btn next"><svg width="40.774414" height="28.440430" viewBox="0 0 40.7744 28.4404" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>
                                        Created with Pixso.
                                </desc>
                                <defs/>
                                <path id="Форма 1" d="M1.38 13.23L36.38 13.23L25.38 2.23C25.05 1.39 24.98 -0.07 27.38 0.73L39.38 12.73C40.05 13.23 40.98 14.53 39.38 15.73L27.38 27.73C24.98 28.53 25.05 26.73 25.38 25.73L36.38 15.73L1.38 15.73C-0.22 14.53 0.72 13.56 1.38 13.23Z" fill="#0C440C" fill-opacity="1.000000" fill-rule="evenodd"/>
                                <path id="Форма 1" d="M36.38 13.23L25.38 2.23C25.05 1.39 24.98 -0.07 27.38 0.73L39.38 12.73C40.05 13.23 40.98 14.53 39.38 15.73L27.38 27.73C24.98 28.53 25.05 26.73 25.38 25.73L36.38 15.73L1.38 15.73C-0.22 14.53 0.72 13.56 1.38 13.23L36.38 13.23Z" stroke="#0C440C" stroke-opacity="1.000000" stroke-width="1.000000"/>
                            </svg></div>
                        </div>
                    </div>
                    <form action="reviews__add" class="reviews__add">
                        <h3>Отсавьте свой отзыв!</h3>
                        <input type="text" class="custom__input" name="name" placeholder="Имя" required>
                        <input type="text" class="custom__input" name="name_product" placeholder="Какое средство использовали" required>
                        <textarea name="desc" class="custom__input" placeholder="Текст отзыва" required></textarea>
                        <div class="rating__block" data-rate="5">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rating__star">
                                <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rating__star">
                                <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rating__star">
                                <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rating__star">
                                <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z"/>
                            </svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rating__star">
                                <path d="M10 15.5L4.5 19L5.5 12.5L0 7H6.5L10 1L13.5 7H20L14.5 12.5L15.5 19L10 15.5Z"/>
                            </svg>
                        </div>
                        <input type="hidden" name="rating" value="5">
                        <button type="submit" class="btn">Отправить</button>
                    </form>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <nav class="footer__nav">
                    <a href="catalog">Каталог</a>
                    <a href="promo">Акции</a>
                    <a href="about">О нас</a>
                    <a href="reviews">Отзывы</a>
                </nav>
                <div class="contact__block">
                    <h2 class="title__sait">ARICO Магазин косметики</h2>
                    <p class="phone">7 900 466 90 56</p>
                    <p class="email">Aricolove</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="assets/js/main.js"></script>
    <script src="assets/js/carusel.js"></script>
</body>
</html>